h1, h2, h3 {
	font-size: 2.5em;
}

a {
	font-size: 2em;
	text-decoration: none;
	color: tomato;
}

a:hover {
	opacity: .6;
}

ul {
	list-style-type: none;
}

.body {
  margin-left: auto;
  width: 80%;
  text-align: center;
  margin-right: auto;
  padding-top: 2em;
}